__pycache__/

dataset/*.png
!dataset/0_M0003_2019_P0000001_circle_2.0x2.0_C06_S006_0.png
!dataset/0_M0003_2019_P0000001_circle_2.0x2.0_C06_S006_1.png

*.iml
.idea/
target/

checkpoint/**/*.tar
!checkpoint/**/lbp_resnet101/
!checkpoint/**/resnet101/
!checkpoint/**/resnet50/
!checkpoint/**/vgg19/

result/**/*.txt
!result/**/lbp_resnet101/
!result/**/resnet101/
!result/**/resnet50/
!result/**/vgg19/

inference/

data_folder/*.txt
!data_folder/data.txt

