__pycache__/

dataset/*.png
!dataset/0_M0003_2019_P0000001_circle_2.0x2.0_C06_S006_0.png
!dataset/0_M0003_2019_P0000001_circle_2.0x2.0_C06_S006_1.png

*.iml
.idea/
target/

checkpoint/**/*.tar

result/**/*.txt

inference/

data_folder/*.txt
!data_folder/data.txt

